<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>

 <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<h2 th:text="${titulo}"></h2>
	
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="post">

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Habilitar:</label>
				<div class="row col-sm-4">
					<input id="habilitar" type="checkbox" th:field="*{habilitar}"
						class="form-control col-sm-1">

				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div th:if="${#fields.hasErrors('habilitar')}"
					th:errors="*{habilitar}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Genero:</label>
				<div th:each="gen: ${genero}" class="row col-sm-4">
					<input class="form-control col-sm-2" type="radio"
						th:field="*{genero}" th:value="${gen}"> 
						<label class="col-form-label col-sm-2" th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="pais">Pais:</label>
				<div>
					<select class="form-control col-sm-9" id="pais" th:field="*{pais}">
						<option value="">-- seleccionar --</option>
						<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="identificador">Identificador:</label>
				<div class="col-sm-4" >
					<input class="form-control " id="identificador" type="text"
						th:field="*{identificador}">
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Roles:</label>
				<div class="row col-sm-2" th:each="role: ${listaRoles}">
					<input class="form-control col-sm-2" type="checkbox"
						th:field="*{roles}" th:value="${role.id}">
						 <label class="col-form-label col-sm-2" th:for="${#ids.prev('roles')}"
						th:text="${role.nombre}"></label>
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="nombre">Nombre:</label>
				<div class="col-sm-4">
					<input class="form-control" id="nombre" type="text"
						th:field="*{nombre}">
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="apellido">Apellido:</label>
				<div class="col-sm-4">
					<input class="form-control" id="apellido" type="text"
						th:field="*{apellido}">
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="username">Username:</label>
				<div class="col-sm-4">
					<input class="form-control" id="username" type="text"
						th:field="*{username}">
				</div>

				<!-- Manejo de errores manualmente<div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div> -->
				<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}"></div>
			</div>

			<div class="form-group row">
				<label  class="col-form-label col-sm-2" for="password">Password: </label>
				<div class="col-sm-4">
					<input class="form-control" id="password" type="password"
						th:field="*{password}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="email">Email: </label>
				<div class="col-sm-4">
					<input class="form-control" id="email" type="text"
						th:field="*{email}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="email">Cuenta: </label>
				<div  class="col-sm-4">
					<input class="form-control" id="cuenta" type="number"
						th:field="*{cuenta}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="fechaNacimiento">Fecha Nacimiento: </label>
				<div  class="col-sm-4">
					<input class="form-control" id="fechaNacimiento" type="date"
						th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}"></div>
			</div>

			<div class="form-group row">
				<div>
					<input class="btn btn-primary" type="submit" value="Enviar">
				</div>
			</div>

			<input type="hidden" th:field="*{valorSecreto}">
		</form>
	</div>
</body>
</html>